[Unit]
Description=Framebuffer MQTT Alert Panel
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/home/pi/.config/mqtt_alert_panel.env
ExecStart=/usr/bin/env FBDEV=/dev/fb0 /usr/bin/python3 /home/pi/mqtt_fb_panel.py
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target