MQTT_USER=alertpanel
MQTT_PASS=secretpassword
MQTT_HOST=example-host.local
MQTT_PORT=1883
# TOPIC_TITLE=home/alert/title (DEPRECATED)
# TOPIC_BODY=home/alert/body (DEPRECATED)
MQTT_TOPIC_PREFIX=home/lcars_panel/
# Control topic prefix. <hostname> can be used as a placeholder and will be replaced by the actual device hostname.
MQTT_CONTROL_TOPIC_PREFIX=lcars/<hostname>/
# Whether to log messages from the control channel to the main display. true or false.
LOG_CONTROL_MESSAGES=true
MAX_MESSAGES_IN_STORE=50
# Path to the LCARS font file, e.g., /usr/share/fonts/truetype/lcars/lcars.ttf
# If not set, the application will fall back to hardcoded paths or default fonts.
LCARS_FONT_PATH="/usr/share/fonts/truetype/dejavu/Swiss-911-Ultra-Compressed-BT-Regular.ttf"
